<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<form th:object="${kysymys}" th:action="@{save}" action="#" method="post">
			<label for="content">Uusi kysymys</label> 
			<input type="text" id="content" th:field="*{content}" /> 
			
			<input type="submit" value="Tallenna"></input>
		</form>
		<h1>Kysymykset</h1>
	<table>
		<tr th:each="kysymys : ${kysymykset}">
			<td th:text="${kysymys.content}"></td>
			<td><a th:href="@{/poistakysymys/{id}(id=${kysymys.kysymysId})}">Poista</a></td>	
		</tr>
	</table>
	<br />
	<a href="/resthome">REST Homepage</a>
	</div>
</body>
</html>