<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8" />
	<title>REST Home Page</title>
</head>
<body>
	<h1>REST Home Page</h1>
	
	<!-- KYSYMYS -->
	<h2>KYSYMYS ENDPOINTIT</h2>
	<strong> KAIKKI KYSYMYKSET </strong>
	<p>
		<strong>Method:</strong> GET <br>
		<strong>Endpoint:</strong> 
		<strong><a href="/kysymykset">/kysymykset</a></strong> 
	</p><br>
	<strong> KYSYMYS BY ID </strong>
	<p>
		<strong>Method:</strong> GET <br>
		<strong>Endpoint:</strong> 
		<strong><a href="/kysymykset/2">/kysymykset/{id}</a></strong>
	</p><br>
	<strong> LUO UUSI KYSYMYS </strong>
	<p>
		<a href="/lisaakysymys">Luo uusi kysymys</a> <br>
		<strong>Method:</strong> POST <br>
		<strong>Endpoint:</strong> 
		<strong> /kysymykset (ei toimi atm)</strong> 
		(Test with <a href="https://www.getpostman.com/" target="_blank">PostMan</a>/etc.)
	</p><br>
	<strong> POISTA KYSYMYS </strong>
	<p>
		<strong>Method:</strong> GET <br>
		<strong>Endpoint:</strong> 
		<strong>/poistakysymys/{id}</strong> <br>
		Tässä ei siis linkkiä :)
	</p><br>
	<strong> TIETYN KYSYMYKSEN VAIHTOEHDOT </strong>
	<p>
		<strong>Method:</strong> GET <br>
		<strong>Endpoint:</strong> 
		<strong><a href="/kysymykset/5/vaihtoehdot">/kysymykset/{id}/vaihtoehdot</a></strong>
	</p><br>
	<strong> KAIKKIEN KYSYMYKSIEN KAIKKI MAHD. VAIHTOEHDOT </strong>
	<p>
		<strong>Method:</strong> GET <br>
		<strong>Endpoint:</strong> 
		<strong><a href="/vaihtoehdot">/vaihtoehdot</a></strong>
	</p><br>
	
	
	<!-- VASTAUS -->
	<h2>VASTAUS ENDPOINTIT</h2>
	<strong>LUO UUSI VASTAUS</strong> <br>
	<strong>Method:</strong> POST <br>
	<strong>Endpoint:</strong> 
	<strong> /vastaukset</strong>
	(Test with <a href="https://www.getpostman.com/" target="_blank">PostMan</a>/etc.) <br>
	<strong>JSON Esimerkki:</strong>
	<pre>
		<code>
	{
	content: "Opiskelija",
	kysymys: {
		kysymysId: 2,
		}
	}
		</code>
	</pre>
	<strong>KAIKKI VASTAUKSET</strong>
	<p>
		<strong>Method:</strong> GET <br>
		<strong>Endpoint:</strong> 
		<strong><a href="/vastaukset">/vastaukset</a></strong>
	</p><br>
	
	<strong>VASTAUS BY ID</strong>
	<p>
		<strong>Method:</strong> GET <br>
		<strong>Endpoint:</strong> 
		<strong><a href="/vastaukset/8">/vastaukset/{id}</a></strong>
	</p><br>
	
	<strong>TIETYN KYSYMYKSEN VASTAUKSET</strong>
	<p>
		<strong>Method:</strong> GET <br>
		<strong>Endpoint:</strong> 
		<strong><a href="/kysymykset/5/vastaukset">/kysymykset/{id}/vastaukset</a></strong>
	</p><br>
	
		<!-- KYSELY -->
	<h2>KYSELY ENDPOINTIT</h2>
	<strong> KAIKKI KYSELYT </strong>
	<p>
		<strong>Method:</strong> GET <br>
		<strong>Endpoint:</strong> 
		<strong><a href="/kyselyt">/kyselyt</a></strong>
	</p><br>
	<strong> KYSELY BY ID </strong>
	<p>
		<strong>Method:</strong> GET <br>
		<strong>Endpoint:</strong> 
		<strong><a href="/kyselyt/1">/kyselyt/{id}</a></strong>
	</p><br>
	<strong> TIETYN KYSELYN KAIKKI KYSYMYKSET </strong>
	<p>
		<strong>Method:</strong> GET <br>
		<strong>Endpoint:</strong> 
		<strong><a href="/kyselyt/4/kysymykset">/kyselyt/{id}/kysymykset</a></strong>
	</p><br>
	<strong> TIETYN KYSELYN KAIKKI VASTAUKSET </strong>
	<p>
		<strong>Method:</strong> GET <br>
		<strong>Endpoint:</strong> 
		<strong><a href="kyselyt/4/vastaukset">kyselyt/{id}/vastaukset</a></strong>
	</p><br>




</body>
</html>